

.app {
  max-width: 900px;
  margin: 40px auto;
  font-family: Arial;
  text-align: center;
}

.tabs {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}
.btn1{
  padding: 10px 16px;
  border: none;
  background: #eee;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid black;
  margin-top: 10px;
}
.rbtn{
  border: none;
  cursor: pointer;
  color: red;
}
.single-file input {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid black;
}
.btn1:hover{
  background-color: gray;
  color: white;
}

.tabs button {
  padding: 10px 16px;
  border: none;
  background: #eee;
  border-radius: 6px;
  cursor: pointer;
}

.tabs button.active {
  background: black;
  color: white;
}

.dropzone {
  border: 2px dashed #aaa;
  padding: 35px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 15px;
}

.dropzone.over {
  background: #f5f5f5;
}

.thumbs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.thumb {
  width: 150px;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.thumb img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.meta {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.convert-btn {
  background: black;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  border: none;
}

.file-card {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px auto;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ddd;
  width: fit-content;
  border-radius: 6px;
}

.file-icon {
  font-size: 26px;
}

.progress-box {
  margin-top: 20px;
}

.progress-bar {
  width: 100%;
  height: 15px;
  background: #e3e3e3;
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: black;
  width: 0%;
  transition: 0.3s;
}


